.radio {
    cursor: pointer;
}

.radio::before {

}


.radio:checked::before {

}

.label {
    display: flex;
    gap: 11px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
