.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;

}

.span {
    color: #0080FF;
    padding: 8px 0;

}

.input {
    max-width: 276px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 8px 24px;
}

.input:focus {
    outline: none;
}

.pen {
}